<footer class="footer">

    <div class="container">

        <h2>Satyam Mishra</h2>

        <p>
            Java Full Stack Developer | Spring Boot | Angular | Microservices
        </p>

        <div class="social-links">

            <a href="#"><i class="bi bi-github"></i></a>

            <a href="#"><i class="bi bi-linkedin"></i></a>

            <a href="mailto:sataymmishra75690@gmail.com">
                <i class="bi bi-envelope-fill"></i>
            </a>

        </div>

        <hr>

        <p class="copyright">

            © 2026 Satyam Mishra. All Rights Reserved.

        </p>

    </div>

</footer>