<section id="home" class="hero">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6">

                <h3>Hello, I'm</h3>

                <h1>Satyam Mishra</h1>

                <h2>Java Full Stack Developer</h2>

                <p>
                    Java Full Stack Developer with around 4 years of experience
                    in Java, Spring Boot, Angular, Microservices, AWS and MySQL.
                </p>

                <button class="btn btn-info me-3">
                    Download Resume
                </button>

                <button class="btn btn-outline-light">
                    Contact Me
                </button>

            </div>

            <div class="col-lg-6 text-center">

                <img src="\profile.jpeg"
                     class="profile-image">

            </div>

        </div>

    </div>

</section>