<section class="projects-section" id="projects">

    <div class="container">

        <h2 class="section-title">
            Featured <span>Projects</span>
        </h2>

        <div class="title-line"></div>

        <div class="row g-4">

            <!-- Project 1 -->

            <div class="col-lg-6">

                <div class="project-card">

                    <img src="/CivicBridge.png" class="project-img">

                    <div class="project-body">

                        <h3>CivicBridge</h3>

                        <p>
                            Social Welfare Portal for managing healthcare,
                            unemployment support, childcare allowances,
                            citizen benefits, identity verification and
                            automated workflows.
                        </p>

                        <div class="tech-stack">

                            <span>Java</span>
                            <span>Spring Boot</span>
                            <span>Angular</span>
                            <span>Microservices</span>
                            <span>MySQL</span>
                            <span>AWS</span>

                        </div>

                        <div class="project-btn">

                            <a href="#" class="btn btn-info">
                                View Details
                            </a>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Project 2 -->

            <div class="col-lg-6">

                <div class="project-card">

                    <img src="/AutoZone.png" class="project-img">

                    <div class="project-body">

                        <h3>AutoZone</h3>

                        <p>

                            Automotive Parts Inventory &
                            Order Management System built using
                            Java, Spring Boot, Angular,
                            Kafka and MySQL.

                        </p>

                        <div class="tech-stack">

                            <span>Java</span>
                            <span>Spring Boot</span>
                            <span>Angular</span>
                            <span>Kafka</span>
                            <span>Docker</span>
                            <span>MySQL</span>

                        </div>

                        <div class="project-btn">

                            <a href="#" class="btn btn-info">
                                View Details
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>