/* You can add global styles to this file, and also import other style files */
html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Poppins,sans-serif;
background:#0f172a;
color:white;
}

section{
padding:100px 0;
}

.container{
max-width:1200px;
margin:auto;
}