<section class="experience-section" id="experience">

    <div class="container">

        <h2 class="section-title">
            Work <span>Experience</span>
        </h2>

        <div class="title-line"></div>

        <div class="timeline">

            <div class="timeline-item">

                <div class="timeline-dot"></div>

                <div class="timeline-content">

                    <span class="duration">
                        Feb 2024 - Present
                    </span>

                    <h3>Java Full Stack Developer</h3>

                    <h4>Hutech Solution (Zeta IT Innovations)</h4>

                    <ul>

                        <li>Developed enterprise applications using Java, Spring Boot and Angular.</li>

                        <li>Built scalable Microservices using Spring Cloud.</li>

                        <li>Designed secure REST APIs using JWT & Spring Security.</li>

                        <li>Integrated Kafka for event-driven communication.</li>

                        <li>Worked with AWS EC2, ECS, Docker and Jenkins.</li>

                        <li>Optimized MySQL queries and Hibernate performance.</li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</section>