.experience-section{

    padding:100px 0;

    background:#111827;

}

.timeline{

    position:relative;

    margin-top:50px;

}

.timeline::before{

    content:'';

    position:absolute;

    left:18px;

    width:3px;

    height:100%;

    background:#38bdf8;

}

.timeline-item{

    position:relative;

    padding-left:60px;

    margin-bottom:50px;

}

.timeline-dot{

    position:absolute;

    left:8px;

    top:10px;

    width:22px;

    height:22px;

    background:#38bdf8;

    border-radius:50%;

    box-shadow:0 0 20px #38bdf8;

}

.timeline-content{

    background:#172033;

    border:1px solid rgba(56,189,248,.3);

    border-radius:15px;

    padding:25px;

    transition:.3s;

}

.timeline-content:hover{

    transform:translateY(-6px);

    box-shadow:0 10px 25px rgba(56,189,248,.25);

}

.duration{

    color:#38bdf8;

    font-weight:600;

}

.timeline-content h3{

    color:white;

    margin-top:12px;

}

.timeline-content h4{

    color:#b5c5d6;

    margin-bottom:20px;

}

.timeline-content ul{

    color:#d6d6d6;

}

.timeline-content li{

    margin-bottom:10px;

}